@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-family: 'Space Grotesk', sans-serif;    
}


nav{
    
    display: flex;
    width: 100%;
    height: 80px;
    padding: 10px;
    border: solid 1px rgb(66, 66, 179);
    justify-content: space-between;
    font-size: 15px;
    
}
#logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    gap: 5px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    color: #93a1b6;
}
.divIngreso{
    display: flex;
    align-items: center;
    gap: 10px;
}
#botonIngreso {
   border: 0;
   background-color: white;
   height: 30px;
   font-family: 'Space Grotesk', sans-serif;
   color: #93a1b6;
   border-radius: 5px;
   font-size: 15px;
   cursor: pointer;
}
#botonRegistro {
    border: 0;
    background-color: #2ad167;
    color: white;
    height: 30px;
    width: 100px;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 5px;
    font-size: 14;
    cursor: pointer;
}


header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}
header .contenido{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    width: 50%;
    gap: 20px;
}
header .contenido p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
header .contenido h1{
    font-size: 80px;
}
header .contenido h5{
    font-size: 25px;
}
header .contenido .botones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header .contenido p{
    text-align: center;
    background-color: #2ad167;
    font-size: 20px;
    border-radius: 6px;
    width: 80px;
    height: 30px;
}
header .contenido .botones button{
    width:150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cacaca;
}
header .contenido .Solicitar{
    background-color: #2ad167;
    color: white;
    font-family: 'Space Grotesk', sans-serif;   
}
header .contenido .Registrarse{
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;   
}
header .imagen{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}
header .imagen .bg-imagen{
    width: 400px;
    height: auto;

}
header .imagen .circulo{
    position: absolute;
    top: 10px;
    left:0px;
    
}
header .imagen .puntos{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
header section{
    display: flex;
    justify-content: space-around;
}
header section div{
    width: 100px;
    height: 100px;
}


section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
}
.iconos {
    background-color: #2ad167;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divIconos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    width: 23%;
    font-size: 11px;
    color: #93a1b6;
    gap: 10px;
}
.divIconos h4 {
    font-size: 20px;
    color: #2a3342;
}


.info{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 80px;
    gap: 20px;
    font-size: 18px;
}
.info h2{
    font-size: 36px;
    font-weight: 800;
}


.tarjetas{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 35px;

}
.tarjetas article{
    background-color: #f7f8f9;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.tarjetas article ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    gap: 10px;
    list-style-image: url('');
    margin: 20px;
}
.tarjetas article div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.tarjetas article div h4{
    color: #2ad167;
    font-weight: 100;
}
.tarjetas article div h3{
    color: #2ad167;
}
.tarjetas article div h6{
    color: #93a1b6;
}
.tarjetas article button{
    background-color: #2ad167;
    color: #f7f8f9;
    width: 90%;
    height: 40px;
    border-radius: 5px;
}


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24vh;
    background-color: #2a3342;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}
#logoFooter {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    color: #f7f8f9;
    gap: 5px;
}
footer p {
    color: #93a1b6;
}
.listaFooter {
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.fondoNegro {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.895);
}
.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a3342;
    width: 80%;
    height: 75vh;
    gap: 15px;

}
.modal form {
    width: 25%;
}
#logoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ad167;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}
.modal h3{
    font-weight: bolder;
    color: #f7f8f9;
    font-size: 24px;
}
.modal p {
    font-size: 13px;
    color: #93a1b6;
}
.modal form p{
    color: #f7f8f9;
}
.divInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.inputs {
    width: 100%;
    height: 35px;
    border-radius: 5px;
}
.modal button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: #2ad167;
    color: #f7f8f9;
    margin: 10px 0px 10px 0px;
}
.modal span {
    font-size: 10px;
}
#checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #2ad167;
}
#spanModalRegistro{
    display: flex;
    justify-content: space-between;
}
#spanVerde {
    color: #2ad167;
}
.disFlex {
    display: flex;
}
#cerrar {
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin: 0;
    top: 5px;
    right: 15px;
    font-size: 40px;
    color: #cacaca;
    cursor: pointer;
    gap: 0;

@media (max-width: 500px) {
    nav{
        flex-direction: column;
        height: fit-content;
    }
    #logo{
       justify-content: center;
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .divIngreso{
        justify-content: space-around;
    }


    header {
        flex-direction: column-reverse;
    }
    header .contenido{
        display: flex;
        flex-direction: column;
        align-items: left;
        background-color: white;
        width: 100%;
        height: fit-content;
        gap: 20px;
    }
    header .contenido h1{
        font-size: 30px;
    }
    header .contenido h5{
        font-size: 15px;
    }
    header .imagen{
        width: 100%;
        height: 200px;
    }
    header .imagen .bg-imagen{
        width: 200px;
        height: auto;
    }
    header .imagen .circulo{
        position: absolute;
        top: 0;
        left: 15%;
        z-index: 1;
        width: 50px;
        height: auto;
    }
    header .imagen .puntos{
        position: absolute;
        top:85%;
        right: 15%;
        width: 50px;
        height: auto;
    }
    section{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;
    }
    .divIconos{
        width: 60%;
    }

    .info{
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .info h2{
        width: 100%;
        font-size: 30px;
        font-weight: 800;
    }
    .info p{
        font-size: 15px;
    }


    .tarjetas{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 15px;
    }
    .tarjetas article{
        width: 80%;
    }


    footer {
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .listaFooter {
        gap: 5px;
    }
}